.container {
    width: 50%;
    margin: 0 auto;
}
.slides {
    position: absolute;
    opacity: 0;
    top: 0;
}
.slides.active {
    position: relative;
    opacity: 1;
    transform: scaleX(-1);
    transition: all .5s;
}

.slides-image {
    width: 600px;
    height: 400px;
    margin: 0 auto;
}
.slides__img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot.active {
    background: url(./img/big-ball.svg);
    width: 14px;
    height: 14px;
}
.dot {
    background: url(./img/small-ball.svg);
    width: 8px;
    height: 8px;
    margin: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}
.button-nav {
    border: none;
    width: 45%;
    height: 65px;
    color: black;
    z-index: 1;
    background: rgb(84 240 96 / 42%);
    border-radius: 30px;
}
.button-nav.active {
    background: rgb(15 242 12 / 83%);
    box-shadow: 1px 1px 23px 14px rgba(99, 180, 61, 1) inset;
    transform: translateY(5px);
}
button:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: all .1s;
    box-shadow: 5px 5px 5px 5px rgba(99, 180, 61, 0.26);
}
